{{ define "add_head" }}
	<script src="http://cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
	<link href="http://cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
	<link href="http://cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
{{ end }}

{{ define "header" }}
	{{ partial "nav.html" . }}
{{ end }}

{{ define "main" }}
	{{ .Content }}
	<script type="text/javascript" src="/js/site.js"></script>
{{ end }}
