+++
title = "Home"
layout = "index"
custom_css = [ "css/index.css" ]
custom_js = [ "js/index.js", "js/drawCities.js" ]
[menu]
  [menu.main]
    weight = 1
+++
<div id="topRow">
	<a href={{< ref "/atelier" >}}>
	<div id="a1" class="tile white">
		<div class="white flip-container">
			<div class="flipper">
				<div class="color_atelier front">
					<div class="text_vertical_1">
						<img class="headings" id="atelier_" src="/img/text/atelier.png" alt="atelier_heading">
						<img class="headings" id="gemeinschaft_" src="/img/text/gemeinschaft.png" alt="gemeinschaft_heading">
					</div>
				</div>
				<div class="back" id="img02"></div>
			</div>
		</div>
	</div>
	</a>
	<div id="a2" class="tile tile3">
		<div class="white">
			<div id="zeile1">
				<div class="zeileTop">
					<span id="schrade1">Gabriele Schrade</span><span id="schrade2">Dipl.-Restauratorin (FH)</span>
				</div>
				<span class="zeileBottom" id="schrade3">historische und archäologische Textilien</span>
			</div>
			<div id="zeile2">
				<div class="zeileTop">
					<span id="schrempf1">Johannes Schrempf</span><span id="schrempf2">Dipl.-Restaurator (FH)</span>
				</div>
				<span class="zeileBottom" id="schrempf3">Bücher Pergament Papier Leder Siegel</span>
			</div>
			<div id="zeile3">
				<div class="zeileTop">
					<span id="becker1">Judith Becker</span><span id="becker2">M.A. Restauratorin</span>
				</div>
				<span class="zeileBottom" id="becker3">Bücher Graphiken dreidimensionale Papierobjekte</span>
			</div>
		</div>
	</div>
	<div id="a3" class="tile tile0"></div>
	<div id="a4" class="tile tile0"></div>
	<div id="a5" class="tile"></div>
	<div id="a6" class="tile"><div><div class="letter r">R</div></div></div>
	<div id="a7" class="tile"></div>
	<div id="a8" class="tile"><div><div class="letter e">E</div></div></div>
</div>
<div id="contentRows">
	<div id="b1" class="tile"><div><div class="letter s">S</div></div></div>
	<div id="b2" class="tile"></div>
	<div id="b3" class="tile"><div><div class="letter t">T</div></div></div>
	<div id="b4" class="tile"></div>
	<div id="b5" class="tile"><div><div class="letter a">A</div></div></div>
	<!--<a href={{< ref "/projekte" >}}>-->
	<div id="b6" class="tile white">
		<div class="flip-container white">
			<div class="flipper">
				<div class="color_projekte front">
					<img class="headings" id="projekte_" src="/img/text/projekte.png" alt="projekte_heading">
				</div>
				<div class="back"><div class="comingsoon"><div>coming</div><div>soon...</div></div></div>
				</div>
		</div>
	</div>
	<!--</a>-->
	<div id="b7" class="tile"><div><div class="letter u">U</div></div></div>
	<div id="b8" class="tile"></div>
	<div id="c1" class="tile"></div>
	<div id="c2" class="tile"><div><div class="letter r">R</div></div></div>
	<a href={{< ref "/referenzen" >}}>
	<div id="c3" class="tile white">
		<div class="flip-container white">
			<div class="flipper">
				<div class="color_referenzen front">
					<div class="text_vertical_1">
						<img class="headings" id="referenzen_" src="/img/text/referenzen.png" alt="referenzen_heading">
					</div>
				</div>
				<div class="back">
					<div id="map" class="esslingen karlsruhe ulm reutlingen berlin
										ludwigsburg luebeck goeppingen
										gmuend wertheim riedlingen muenchen
										stuttgart koeln marbach beuren ditzingen
										kirchheim landau mergentheim blaubeuren
										frankfurt bamberg weilheim bonn mainz">
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
						<div class="reddots"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</a>
	<div id="c4" class="tile"><div><div class="letter i">I</div></div></div>
	<div id="c5" class="tile"></div>
	<div id="c6" class="tile"><div><div class="letter e">E</div></div></div>
	<a href={{< ref "/werkstatt" >}}>
	<div id="c7" class="tile white">
		<div class="flip-container white">
			<div class="flipper">
				<div class="color_werkstatt front">
					<div class="text_vertical_2">
						<img class="headings" id="werkstatt_" src="/img/text/werkstatt.png" alt="werkstatt_heading">
					</div>
				</div>
				<div class="back" id="img06"></div>
			</div>
		</div>
	</div>
	</a>
	<div id="c8" class="tile"><div><div class="letter r">R</div></div></div>
	<div id="d1" class="tile"><div><div class="letter e">E</div></div></div>
	<a href={{< ref "/impressum" >}}>
	<div id="d2" class="tile white">
		<div class="white flip-container">
			<div class="flipper">
				<div class="color_impressum front">
					<img class="headings" id="impressum_" src="/img/text/impressum.png" alt="impressum_heading">
					<img class="headings" id="kontakt_" src="/img/text/kontakt.png" alt="kontakt_heading">
				</div>
				<div class="back" id="img07"></div>
			</div>
		</div>
	</div>
	</a>
	<div id="d3" class="tile"><div><div class="letter n">N</div></div></div>
	<div id="d4" class="tile"></div>
	<a href={{< ref "/leistungen" >}}>
	<div id="d5" class="tile white">
		<div class="white flip-container">
			<div class="flipper">
				<div class="color_leistungen front">
					<img class="headings" id="leistungen_" src="/img/text/leistungen.png" alt="leistungen_heading">
				</div>
			<div class="back" id="img04"></div>
			</div>
		</div>
	</div>
	</a>
	<div id="d6" class="tile"></div>
	<div id="d7" class="tile tileDoubleLogo"></div>
	<div id="d8" class="tile tile0"></div>
</div>
