+++
title = "Atelier"
layout = "tabs"
custom_css = [ "css/atelier.css" ]
[menu]
  [menu.main]
    weight = 2
+++
<div class="contentColumn contentColumn3">
	<div id="img_schrempf" class="tile imageBox"></div>
	<div id="img_schrade" class="tile imageBox hidden"></div>
	<div id="img_becker" class="tile imageBox hidden"></div>
</div>
<div class="contentColumn contentColumn1">
	<div id="schrempf" class="tile defaultColor contentSwitch selected">
		<span>Johannes<br>Schrempf</span>
	</div>
	<div id="schrade" class="tile defaultColor contentSwitch">
		<span>Gabriele<br>Schrade</span>
	</div>
	<div id="becker" class="tile defaultColor contentSwitch">
		<span>Judith<br>Becker</span>
	</div>
</div>
<div class="contentColumn contentColumn4">
	<div class="tile defaultColor">
		<div id="content_schrempf" class="contentBox">
			<ul>
				<li>
					<span class="listColoumnLeft">1987 - 1990</span>
					<span class="listColoumnRight">Ausbildung zum Buchbinder im Handwerk bei der Buchbinderei Schmid in Schorndorf</span>
				</li>
				<li>
					<span class="listColoumnLeft">1990 - 1991</span>
					<span class="listColoumnRight">Praktika: Hauptstaatsarchiv Stuttgart, Deutsches Literaturarchiv in Marbach, Buchbinderei Sleska in Bietigheim</span>
				</li>
				<li>
					<span class="listColoumnLeft">1991 - 1995</span>
					<span class="listColoumnRight">Studium zum Diplom-Restaurator in der Fachrichtung ´Restaurierung und Konservierung
								von Buch, Graphik und Buchmalerei´ an der Fachhochschule Köln
								mit Praktika im Stadtarchiv Dortmund, im Kupferstichkabinett der Kunsthalle in Hamburg
								und im Atelier für Buchrestaurierung und -konservierung von Andrea Giovannini
								in CH-Bellinzona</span>
				</li>
				<li>
					<span class="listColoumnLeft">1995</span>
					<span class="listColoumnRight">Diplomarbeit: ´Anfasern an Pergament´</span>
				</li>
				<li>
					<span class="listColoumnLeft">1995 - 1998</span>
					<span class="listColoumnRight">Werkstattleitung bei der Buch- und Graphikrestaurierung Schempp in Kornwestheim</span>
				</li>
				<li>
					<span class="listColoumnLeft">seit 1998</span>
					<span class="listColoumnRight">eigenes Restaurierungsatelier</span>
				</li>
				<li>
					<span class="listColoumnLeft">seit 2007</span>
					<span class="listColoumnRight">Gemeinschaftsatelier mit Gabriele Schrade</span>
				</li>
			</ul>
		</div>
		<div id="content_schrade" class="contentBox hidden">
			<ul>
				<li>
					<span class="listColoumnLeft">1997 - 2000</span>
					<span class="listColoumnRight">Ausbildung zu Damenschneiderin mit zusätzlichem Abschluss als Betriebsassistentin
							(Handwerkskammer Baden Württemberg)</span>
				</li>
				<li>
					<span class="listColoumnLeft">2000 - 2002</span>
					<span class="listColoumnRight">studienvorbereitendes Praktikum in der Textilrestaurierungswerkstatt der Schlösser- und
						   Gärtenverwaltung Baden-Württembergs im Schloss Ludwigsburg</span>
				</li>
				<li>
					<span class="listColoumnLeft">2002 - 2006</span>
					<span class="listColoumnRight">Studium an der Fachhochschule Köln zur Diplom-Textilrestauratorin
							mit Praktika im Museum der Kulturen in Basel und im münchener Stadtmuseum</span>
				</li>
				<li>
					<span class="listColoumnLeft">2006</span>
					<span class="listColoumnRight">Diplomarbeit: ´Methodische Erfassung und konservatorische Untersuchung von
							Überresten eines Kopfschmuckes aus einem spätrömischen Steinsarg´</span>
				</li>
				<li>
					<span class="listColoumnLeft">seit 2007</span>
					<span class="listColoumnRight">Gemeinschaftsatelier mit Johannes Schrempf</span>
				</li>
			</ul>
		</div>
		<div id="content_becker" class="contentBox hidden">
			<ul>
				<li>
					<span class="listColoumnLeft">2009 - 2010</span>
					<span class="listColoumnRight">Praktika: Restaurierungsatelier Johannes Schrempf,
					   Esslingen und Atelier für Papierrestaurierung Dirk
					   Ferlmann, Köln</span>
				</li>
				<li>
					<span class="listColoumnLeft">2010 - 2015</span>
					<span class="listColoumnRight">Studium in der Fachrichtung Konservierung und Restaurierung
					   von Kunstwerken auf Papier, Archiv-  und Bibliotheksgut
					   an der Staatl. Akademie der Bildenden  Künste Stuttgart
					   <br><br>
					   mit Praktika im Restaurierungsatelier der Stiftung Saar-
					   ländischer Kulturbesitz, Saarbrücken und im
					   Restaurierungsatelier Barbara Hassel, Frankfurt a.M.
					   sowie einer Hospitation im Kupferstichkabinett der
					   Staatlichen Kunsthalle Karlsruhe (Master-Arbeit)</span>
				</li>
				<li>
					<span class="listColoumnLeft">2013</span>
					<span class="listColoumnRight">Bachelor-Arbeit: `Das Auftragsbuch von William Kilburn -
					   Restaurierung eines Albums unter Erhaltung historischer
					   Nutzungsspuren`</span>
				</li>
				<li>
					<span class="listColoumnLeft">2015</span>
					<span class="listColoumnRight">Master-Arbeit: `Piranesi neu entdeckt: Zwei Klebebände
					   der Staatl. Kunsthalle Karlsruhe - Bestandsaufnahme und
					   Vorstellung von Konservierungskonzepten`</span>
				</li>
				<li>
					<span class="listColoumnLeft">seit 2015</span>
					<span class="listColoumnRight">Eigenes Restaurierungsatelier; Ateliergemeinschaft mit
					   Johannes Schrempf und Gabriele Schrade</span>
				</li>
			</ul>
		</div>
	</div>
</div>
