+++
title = "Impressum & Kontakt"
layout = "tiles"
custom_css = [ "css/impressum.css" ]
[menu]
  [menu.main]
    weight = 7
+++
<div class="contentColumn contentColumn6">
  <div class="tile defaultColor tile2x2">
    <div class="contentBox contentBoxImpressum centered">
      <h1>Gabriele Schrade</h1>
      <h3 class="padded">Dipl.-Restauratorin (FH)</h3>
      <h2>Atelier für Restaurierung und
        Konservierung von historischen
        und  archäologische Textilien</h2>
    </div>
    <div class="contentBox contentBoxImpressum bottom centered">
      <h2>+49 (0) 711 9315 992</h2>
      <h2>
        <a href='&#109;ailto&#58;s%63h%72a&#100;e&#64;%65&#115;&#45;&#114;e&#115;&#37;74a%75r%69ert&#37;2E&#100;e'>sch&#114;ad&#101;&#64;es-r&#101;sta&#117;r&#105;ert&#46;de</a>
      </h2>
      <h3>USt.-ID.Nr. DE251948758</h3>
    </div>
  </div>
  <div class="tile defaultColor tile2x2">
    <div class="contentBox contentBoxImpressum centered">
      <h1>Johannes Schrempf</h1>
      <h3 class="padded">Dipl.-Restaurator (FH)</h3>
      <h2>Atelier für Restaurierung und
      Konservierung von Büchern,
      Pergament, Papier, Leder, Siegeln</h2>
    </div>
    <div class="contentBox contentBoxImpressum bottom centered">
      <h2>+49 (0) 711 9315 990<h2>
      <h2>
        <a href='m&#97;i&#108;to&#58;%&#55;3c&#37;68r%65%&#54;Dp%&#54;&#54;&#64;es-&#114;es&#116;a%7&#53;r%69&#101;rt&#37;2Ed&#101;'>&#115;chre&#109;p&#102;&#64;&#101;s-r&#101;&#115;ta&#117;riert&#46;de</a>
      </h2>
      <h3>USt.-ID.Nr. DE196990252</h3>
    </div>
  </div>
  <div class="tile defaultColor tile2x2">
    <div class="contentBox contentBoxImpressum centered">
      <h1>Judith Becker</h1>
      <h3 class="padded">M.A. Restauratorin</h3>
      <h2>Atelier für Restaurierung und
      Konservierung von Büchern,
      Graphiken und dreidimensionalen Papierobjekten</h2>
    </div>
    <div class="contentBox contentBoxImpressum bottom centered">
      <h2>+49 (0) 711 9315 991<h2>
      <h2 class="contentHeadSub">
        <a href='mail&#116;o&#58;b&#101;cker&#64;&#37;65s-re&#115;&#116;au&#114;i%65r&#37;74&#46;d&#101;'>b&#101;&#99;ker&#64;es-re&#115;ta&#117;r&#105;ert&#46;&#100;e</a>
      </h2>
      <h3>USt.-ID.Nr. DE302437773<h3>
    </div>
  </div>
  <div class="tile defaultColor tile1x6">
    <div class="contentBox contentBoxImpressum lower">
      <h1>Ateliergemeinschaft<br>in der<br>Neckarstraße 64/1, DE - 73728 Esslingen am  Neckar</h1>
      <h2>
        <a href='m&#97;i&#108;t&#111;&#58;inf&#111;%40%65&#37;&#55;3-r%&#54;&#53;&#115;t&#37;61%75%72&#105;e%72%74%&#50;Ed%65'>&#105;n&#102;o&#64;&#101;s-restauri&#101;rt&#46;&#100;e</a>
      </h2>
      <h3 class="bottomRight"><a href={{< ref "/datenschutz" >}}>Datenschutzerklärung</a></h3>
    </div>
  </div>
</div>
<div class="contentColumn contentColumn2">
  <div class="tile defaultColor tile2x3">
  <!--By Portal der statistischen Ämter des Bundes und der Länder (DeStatis);
  David Liuzzo. [CC BY-SA 2.0 de (http://creativecommons.org/licenses/by-sa/2.0/de/deed.en)],
  via Wikimedia Commons-->
  <div id="map"></div>
  <div id="reddot"></div>
  <a id="attribute" href="http://freevectormaps.com" target="_blank">Map by FreeVectorMaps.com</a>
  </div>
</div>
