+++
title = "Home"
layout = "index"
custom_css = [ "css/mobile.css" ]
+++
<div class="mobileContainer">
  <img class="logo" src="/img/logo.png" alt="Ateliergemeinschaft Restaurieren" />
<div>
<div class="defaultColor contentContainer">
  <h1 class="smallHeadline">Ateliergemeinschaft in der Neckarstraße 64/1, DE - 73728 Esslingen am  Neckar</h1>
</div>
<div class="defaultColor contentContainer">
  <h1>Gabriele Schrade</h1>
  <h2 class="offsetLeft">Dipl.-Restauratorin (FH)</h2>
  <p class="paddingBottom">Atelier für Restaurierung und Konservierung von historischen und archäologische Textilien</p>
  <p>+49 (0) 711 9315 992</p>
  <p><a href='&#109;ailto&#58;s%63h%72a&#100;e&#64;%65&#115;&#45;&#114;e&#115;&#37;74a%75r%69ert&#37;2E&#100;e'>sch&#114;ad&#101;&#64;es-r&#101;sta&#117;r&#105;ert&#46;de</a></p>
  <p>USt.-ID.Nr. DE251948758</p>
</div>
<div class="defaultColor contentContainer">
  <h1>Johannes Schrempf</h1>
  <h2 class="offsetLeft">Dipl.-Restaurator (FH)</h2>
  <p class="paddingBottom">Atelier für Restaurierung und Konservierung von Büchern, Pergament, Papier, Leder, Siegeln</p>
  <p>+49 (0) 711 9315 990</p>
  <p><a href='m&#97;i&#108;to&#58;%&#55;3c&#37;68r%65%&#54;Dp%&#54;&#54;&#64;es-&#114;es&#116;a%7&#53;r%69&#101;rt&#37;2Ed&#101;'>&#115;chre&#109;p&#102;&#64;&#101;s-r&#101;&#115;ta&#117;riert&#46;de</a></p>
  <p>USt.-ID.Nr. DE196990252</p>
</div>
<div class="defaultColor contentContainer">
  <h1>Judith Becker</h2>
  <h2 class="offsetLeft">M.A. Restauratorin</h2>
  <p class="paddingBottom">Atelier für Restaurierung und Konservierung von Büchern, Graphiken und dreidimensionalen Papierobjekten</p>
  <p>+49 (0) 711 9315 991</p>
  <p><a href='mail&#116;o&#58;b&#101;cker&#64;&#37;65s-re&#115;&#116;au&#114;i%65r&#37;74&#46;d&#101;'>b&#101;&#99;ker&#64;es-re&#115;ta&#117;r&#105;ert&#46;&#100;e</a></p>
  <p>USt.-ID.Nr. DE302437773</p>
</div>
<div class="defaultColor contentContainer">
  <h1 class="smallHeadline">
    <a href={{< ref "/#no-mobile" >}}>Zur Desktopansicht</a>
  </h1>
</div>


