+++
title = "Leistungen"
layout = "tabs"
custom_css = [ "css/leistungen.css" ]
[menu]
  [menu.main]
    weight = 4
+++
<div class="contentColumn contentColumn3">
  <div id="img_schrempf" class="tile imageBox"></div>
  <div id="img_schrade" class="tile imageBox hidden"></div>
  <div id="img_becker" class="tile imageBox hidden"></div>
</div>
<div class="contentColumn contentColumn1">
  <div id="schrempf" class="tile defaultColor contentSwitch  selected">
    <span>Johannes<br>Schrempf</span>
  </div>
  <div id="schrade" class="tile defaultColor contentSwitch">
    <span>Gabriele<br>Schrade</span>
  </div>
  <div id="becker" class="tile defaultColor contentSwitch">
    <span>Judith<br>Becker</span>
  </div>
</div>
<div class="contentColumn contentColumn4">
  <div class="tile defaultColor">
    <div id="content_schrempf" class="contentBox">
      <h1>Leistungen</h1>
      <h3>Konservieren und Restaurieren von ...</h3>
      <ul class="listDot">
        <li><span>Büchern, sowohl Drucke als auch Handschriften</span></li>
        <li><span>Einbänden in Papier, Leder, Pergament u. a.</span></li>
        <li><span>Papier</span></li>
        <li><span>Pergament, u. a. in Form von Urkunden und Plänen</span></li>
        <li><span>Siegeln in Wachs und Lack, sowie andere Wachsobjekte</span></li>
        <li><span>Tintenfraßschäden, z.B. durch eine Phytatbehandlung</span></li>
        <li><span>Etuis bzw. Futteralen, z.B. für Monstranzen</span></li>
        <li><span>Lederobjekten, z.B. Möbelbezüge, Taschen, Koffer u.v.m.</span></li>
      </ul>
    </div>
    <div id="content_schrade" class="contentBox hidden">
      <h1>Leistungen</h1>
      <ul class="listDash">
        <li><span>Allgemeine Methoden der Konservierung und Restaurierung textiler
               Objekte wie z.B. historische Kleidung, textile Raumausstattung,
               ethnologische Objekte, Paramente oder Alltagstextilien mit
               schriftlicher und fotografischer Dokumentation</span></li>
        <li><span>Untersuchung und Analyse archäologischer Fasern und Textilien</span></li>
        <li><span>Erstellung von Restaurierungskonzepten</span></li>
        <li><span>Materialanalysen, technische und wissenschaftliche Analysen</span></li>
        <li><span>Rekonstruktionen</span></li>
        <li><span>Transportbegleitung, Inventarisierung, Pflege und Sammlungsbetreuung</span></li>
        <li><span>Anfertigung maßgerechter Ausstellungs- oder Aufbewahrungskonstruktionen, konservatorische Ausstellungsberatung, -montage</span></li>
        <li><span>Organisatorische Abwicklung und fachgerechte Betreuung größerer Projekte</span></li>
      </ul>
    </div>
    <div id="content_becker" class="contentBox hidden">
      <h1>Leistungen</h1>
      <h3>Konservieren und Restaurieren von ...</h3>
      <ul class="listDot">
        <li><span>Papier</span></li>
        <li><span>Büchern, sowohl Drucke als auch Handschriften</span></li>
        <li><span>Einbänden in Papier, Leder, Pergament u. a.</span></li>
        <li><span>Klebealben und Skizzenbüchern</span></li>
        <li><span>Zeichnungen und Druckgraphiken</span></li>
        <li><span>dreidimensionalen Papierobjekten</span></li>
      </ul>
    </div>
  </div>
</div>
