+++
title = "Projekte"
layout = "tiles"
custom_css = [ "css/projekte.css" ]
[menu]
  [menu.main]
    weight = 3
+++
<div id="b1" class="tile"></div>
<div id="b2" class="tile"></div>
<div id="b3" class="tile"></div>
<div id="b4" class="tile"></div>
<div id="b5" class="tile"></div>
<div id="b6" class="tile"></div>
<div id="b7" class="tile"></div>
<div id="b8" class="tile"></div>
<div id="c1" class="tile"></div>
<div id="c2" class="tile"></div>
<div id="c3" class="tile"></div>
<div id="c4" class="tile"><div>coming</div></div>
<div id="c5" class="tile"><div>soon...</div></div>
<div id="c6" class="tile"></div>
<div id="c7" class="tile"></div>
<div id="c8" class="tile"></div>
<div id="d1" class="tile"></div>
<div id="d2" class="tile"></div>
<div id="d3" class="tile"></div>
<div id="d4" class="tile"></div>
<div id="d5" class="tile"></div>
<div id="d6" class="tile"></div>
<div id="d7" class="tile"></div>
<div id="d8" class="tile"></div>
