+++
title = "Referenzen"
layout = "tabs"
custom_css = [ "css/referenzen.css" ]
custom_js = [ "js/referenzen.js", "js/drawCities.js" ]
[menu]
  [menu.main]
    weight = 5
+++
<div class="contentColumn contentColumn3">
  <div class="tile">
    <div id="map">
      <div class="reddots"></div>
      <div class="reddots"></div>
      <div class="reddots"></div>
      <div class="reddots"></div>
      <div class="reddots"></div>
      <div class="reddots"></div>
    </div>
    <a id="attribute" href="http://freevectormaps.com" target="_blank">Map by FreeVectorMaps.com</a>
  </div>
</div>
<div class="contentColumn contentColumn1">
  <div id="schrempf" class="tile defaultColor contentSwitch  selected">
    <span>Johannes<br>Schrempf</span>
  </div>
  <div id="schrade" class="tile defaultColor contentSwitch">
    <span>Gabriele<br>Schrade</span>
  </div>
  <div id="becker" class="tile defaultColor contentSwitch">
    <span>Judith<br>Becker</span>
  </div>
</div>
<div class="contentColumn contentColumn4">
  <div class="tile defaultColor">
    <div id="content_schrempf" class="contentBox">
      <h1>Referenzen</h1>
      <ul class="listNone">
        <li class="esslingen"><span>Stadtarchiv und Museen der Stadt Esslingen am Neckar</span></li>
        <li class="reutlingen"><span>Stadtarchiv Reutlingen</span></li>
        <li class="berlin"><span>Staatsbibliothek zu Berlin - Preußischer Kulturbesitz</span></li>
        <li class="ludwigsburg"><span>Institut für Erhaltung von Archiv- und Bibliotheksgut des Landes Baden-Württemberg, Ludwigsburg</span></li>
        <li class="luebeck"><span>Archiv der Hansestadt Lübeck</span></li>
        <li class="goeppingen"><span>Stadtarchiv Göppingen</span></li>
        <li class="ulm"><span>Archiv der Stadt Ulm</span></li>
        <li class="ulm"><span>Münsterbauamt Ulm</span></li>
        <li class="gmuend"><span>Museum im Prediger, Schwäbisch Gmünd</span></li>
        <li class="wertheim"><span>Staatsarchiv Wertheim</span></li>
        <li class="riedlingen"><span>Museum ´Alte Stiege´, Riedlingen</span></li>
        <li class="muenchen"><span>Bayerische Verwaltung der staatlichen Schlösser, Gärten und Seen</span></li>
        <li class="stuttgart"><span>Württembergische Landesbibliothek in Stuttgart</span></li>
        <li class="koeln"><span>Historisches Archiv der Stadt Köln</span></li>
        <li class="marbach"><span>Deutsches Literaturarchiv, Marbach am Neckar</span></li>
        <li class="beuren"><span>Freilichtmuseum Beuren</span></li>
      </ul>
    </div>
    <div id="content_schrade" class="contentBox hidden">
      <h1>Referenzen</h1>
      <ul class="listNone">
        <li class="ditzingen goeppingen kirchheim landau"><span>Museen Ditzingen, Göppingen, Kirchheim, Landau in der Pfalz</span></li>
        <li class="muenchen"><span>Bayerisches Landesamt für Denkmalpflege</span></li>
        <li class="muenchen"><span>Bayerische Verwaltung der staatlichen Schlösser, Gärten und Seen</span></li>
        <li class="mergentheim"><span>Deutschordenmuseum Bad Mergentheim</span></li>
        <li class="mainz"><span>Direktion Archäologie Mainz</span></li>
        <li class="blaubeuren reutlingen"><span>Heimatmuseen Blaubeuren und Reutlingen</span></li>
        <li class="frankfurt"><span>Historisches Museum Frankfurt</span></li>
        <li class="esslingen"><span>Landesamt für Denkmalpflege im Regierungspräsidium Stuttgart</span></li>
        <li class="stuttgart"><span>Modesammlung Bräu, Stuttgart</span></li>
        <li class="koeln"><span>Theaterwissenschaftliche Sammlung der Universität Köln</span></li>
        <li class="bamberg weilheim"><span>Staatliche Bauämter Bamberg und Weilheim</span></li>
        <li class="stuttgart"><span>Staatliche Schlösser und Gärten Baden-Württemberg</span></li>
        <li class="esslingen"><span>Stadtmuseum Esslingen am Neckar</span></li>
        <li class="muenchen"><span>Stadtmuseum München</span></li>
        <li class="bonn"><span>Rheinisches Amt für Bodendenkmalpflege, Bonn</span></li>
      </ul>
    </div>
    <div id="content_becker" class="contentBox hidden">
      <h1>Referenzen</h1>
      <ul class="listNone">
        <li class="koeln"><span>Historisches Archiv der Stadt Köln</span></li>
        <li class="esslingen"><span>Museen der Stadt Esslingen am Neckar</span></li>
        <li class="stuttgart"><span>Stadtmuseum Stuttgart</span></li>
        <li class="reutlingen"><span>Stadtarchiv Reutlingen</span></li>
        <li class="esslingen"><span>Landesamt für Denkmalpflege im Regierungspräsidium Stuttgart</span></li>
        <li class="stuttgart"><span>Staatliche Schlösser und Gärten Baden-Württemberg</span></li>
        <li class="stuttgart"><span>SWR - Südwestrundfunk</span></li>
        <li class="muenchen"><span>Bayerische Verwaltung der staatlichen Schlösser, Gärten und Seen</span></li>
        <li class="karlsruhe"><span>Stadtarchiv Karlsruhe</span></li>
        <li><span>Privatkunden</span></li>
      </ul>
    </div>
  </div>
</div>
