+++
title = "Werkstatt"
layout = "tiles_gallery"
custom_css = [ "css/werkstatt.css" ]
custom_js = [ "js/werkstatt.js" ]
[menu]
  [menu.main]
    weight = 6
+++
<div id="b1" class="tile"></div>
<div id="b2" class="tile"></div>
<a href="/img/1920/06-08.jpg" class="gallery">
  <div id="b3" class="tile"></div>
</a>
<div id="b4" class="tile"></div>
<a href="/img/1920/06-02.jpg" class="gallery">
  <div id="b5" class="tile"></div>
</a>
<div id="b6" class="tile"></div>
<div id="b7" class="tile"></div>
<a href="/img/1920/06-06.jpg" class="gallery">
  <div id="b8" class="tile"></div>
</a>
<a href="/img/1920/06-01.jpg" class="gallery">
  <div id="c1" class="tile"></div>
</a>
<div id="c2" class="tile"></div>
<div id="c3" class="tile"></div>
<a href="/img/1920/06-05.jpg" class="gallery">
  <div id="c4" class="tile"></div>
</a>
<div id="c5" class="tile"></div>
<div id="c6" class="tile"></div>
<a href="/img/1920/06-04.jpg" class="gallery">
  <div id="c7" class="tile"></div>
</a>
<div id="c8" class="tile"></div>
<div id="d1" class="tile"></div>
<a href="/img/1920/06-07.jpg" class="gallery">
  <div id="d2" class="tile"></div>
</a>
<div id="d3" class="tile"></div>
<div id="d4" class="tile"></div>
<div id="d5" class="tile"></div>
<a href="/img/1920/06-03.jpg" class="gallery">
  <div id="d6" class="tile"></div>
</a>
<div id="d7" class="tile"></div>
<div id="d8" class="tile"></div>
