{{ if .Page.IsHome }}
  <div class="tile tileDoubleLogo"></div>
  <div class="tile tile0"></div>
{{ else }}
  <div class="tile tileNav {{ if .active }}active{{ end }}">
    {{ if eq .Page.Title "Atelier" }}
      <div class="color_atelier tileNavInnerTop">
        <img class="headings" id="atelier" src="/img/text/atelier.png" alt="atelier_heading">
        <img class="headings" id="gemeinschaft" src="/img/text/gemeinschaft.png" alt="gemeinschaft_heading">
      </div>
      <div class="color_atelier tileNavInnerBottom"></div>
    {{ else if eq .Page.Title "Projekte" }}
      <div class="color_projekte tileNavInnerTop">
        <img class="headings" id="projekte" src="/img/text/projekte.png" alt="projekte_heading">
      </div>
      <div class="color_projekte tileNavInnerBottom"></div>
    {{ else if eq .Page.Title "Leistungen" }}
      <div class="color_leistungen tileNavInnerTop">
        <img class="headings" id="leistungen" src="/img/text/leistungen.png" alt="leistungen_heading">
      </div>
      <div class="color_leistungen tileNavInnerBottom"></div>
    {{ else if eq .Page.Title "Referenzen" }}
      <div class="color_referenzen tileNavInnerTop">
        <img class="headings" id="referenzen" src="/img/text/referenzen.png" alt="referenzen_heading">
      </div>
      <div class="color_referenzen tileNavInnerBottom"></div>
    {{ else if eq .Page.Title "Werkstatt" }}
      <div class="color_werkstatt tileNavInnerTop">
        <img class="headings" id="werkstatt" src="/img/text/werkstatt.png" alt="werkstatt_heading">
      </div>
      <div class="color_werkstatt tileNavInnerBottom"></div>
    {{ else if eq .Page.Title "Impressum & Kontakt" }}
      <div class="color_impressum tileNavInnerTop">
        <img class="headings" id="impressum" src="/img/text/impressum.png" alt="impressum_heading">
        <img class="headings" id="kontakt" src="/img/text/kontakt.png" alt="kontakt_heading">
      </div>
      <div class="color_impressum tileNavInnerBottom"></div>
    {{ end }}
  </div>
{{ end }}
