#content_schrade  ul li{
	margin-bottom: 5%;
}

#content_becker  ul li{
	margin-bottom: 2%;
}

.contentBox{
	line-height: 160%;
	list-style-type: none;
	width: 100%;
	padding: 2%;
	width: 96% !important;
	height: 94.8% !important;
}

.contentBox ul li { 
	margin-bottom: 3%;
	display:inline-block;
	width: 100%;
}

.contentBox ul li span { 
    float: left;
	font-size: 1.3em;
}

.contentBox ul li .listColoumnLeft{
	width: 15%;
	text-align: right;
}

.contentBox ul li .listColoumnRight{
	width: 79%;
	margin-left: 6%;
}

#img_schrempf{
  background-image: url(../img/650/02-01.jpg);
  background-size: 100%;
}
#img_schrade{
  background-image: url(../img/650/02-02.jpg);
  background-size: 100%;
}
#img_becker{
  background-image: url(../img/650/02-03.jpg);
  background-size: 100%;
}