#map{
  background-image: url(../img/map2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5%;
  width: 90% !important;
  height: 90% !important;
}

#reddot{
	width: 3%;
	padding-bottom: 3%;
	height: auto;
	background: red;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	top: 73.6%;
	left: 38.8%;
}

#attribute{
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: gray;
	font-size: 0.7em;
}
