#schrade1,#schrempf1,#becker1{
  vertical-align: top;
  background-color: white;
}

#schrade2,#schrempf2,#becker2{
  font-size: 40%;
  vertical-align: top;
  padding: 0 0.3%;
  font-weight: normal;
  background-color: white;
}

#schrempf2,#becker2{
	padding-left: 1%;
}

#schrade3,#schrempf3,#becker3{
  font-size: 55%;
  font-weight: normal;
  background-color: white;
}

#schrempf3{
	background-color: transparent !important;
}

#zeile1,#zeile2,#zeile3{
	padding-left: 0%;
}

#zeile1{
	top: 0%;
}
#zeile2{
	top: 50%;
	transform: translate(0,-50%);
}
#zeile3{
	bottom: -2%;
}

.zeileTop{
	margin-bottom: -2.5%;
}

.zeileBottom{
	padding-right: 1%;
}

.zeileBottom,.zeileTop{
	color: #5f3933;
	position: relative !important;
	line-height: 0.9;
}

#a2 {
	/*border: 1px solid;
	border-left-style: none;*/
	box-sizing: border-box;
	margin-left: 10px;
	width: calc(37.5% - 13px);
}

/* LETTERS */

.letter{
	font-size: 1.71em;
	position: static !important;
	line-height: 70%;
	width: auto !important;
	margin-top: 2.3%;
    margin-left: -5.7%;
	
    -webkit-transform:scale(0.8,1.0) translate(-16%,0);
    -moz-transform:scale(0.8, 1.0) translate(-16%,0);
    -ms-transform:scale(0.8, 1.0) translate(-16%,0);
    -o-transform:scale(0.8, 1.0) translate(-16%,0);
    transform:scale(0.8,1.0) translate(-16%,0);
}

_:-ms-fullscreen, :root .letter { 
	margin-top: 4.5%;
}
_:-ms-fullscreen, :root .s { 
	margin-top: 5.9%;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
	// IE9+ CSS
	.letter{margin-top: 4.5%;}
}

.s {
	margin-top: 3.5%;
    margin-left: -1.5%;
	font-size: 1.66em;
}

.u {
	margin-top: 1.8%;
}

.t{
    margin-left: -1.5%;
}
.a{
   margin-left: 2%;
}

#atelier_{bottom: 13%;width: 100%;}
#gemeinschaft_{bottom: -1px;width: 100%;}
#projekte_{bottom: -1px;width: 80%;}
#leistungen_{top: -1px;width: 80%;}
#referenzen_{top: -1px;width: 80%;}
#werkstatt_{top: -1px;width: 80%;}
#impressum_{top: -1px;width: 80%;}
#kontakt_{bottom: -1px;right:0;width: 80%;}

#map{
  background-image: url(../img/map2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5% 16%;
  width: 68% !important;
  height: 90% !important;
  position: absolute;
}

.reddots{
	width: 3% !important;
	padding-bottom: 3%;
	height: auto;
	background: red !important;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

#d2 .back, #b6 .back, #c3 .back, #c7 .back{
	border: 0px solid #5f3933;
	box-sizing: border-box;
	background-color: white;
}

.comingsoon
{
	margin: 50% 0 0 50%;
	width: auto;
	height: auto;
	font-size: 0.1em;
	transform: translate(-50%,-50%);
	color: black;
	text-align: center;
}


/* Menu Images */
#img02{
  background-image: url(../img/300/02-01.jpg);
}

#img04{
  background-image: url(../img/300/04-01.jpg);
}

#img06{
  background-image: url(../img/300/06-07.jpg);
}

#img07{
  background-image: url(../img/300/07.jpg);
}

.text_vertical_1{ 
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  
  width: 100%;
  height: 100%;
}

.text_vertical_2{ 
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  
  width: 100%;
  height: 100%;
}

/* FLIP */

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 600px;
          perspective: 600px;
  z-index: 1;
}
/* flip the pane when hovered */
.flip-container:hover .back, .flip-container.flip .back {
	  -webkit-transform: rotateY(0deg);
			  transform: rotateY(0deg);
	   -ms-transform: perspective(600px) rotateY(0deg);
}

.flip-container:hover .front, .flip-container.flip .front {
	  -webkit-transform: rotateY(180deg);
			  transform: rotateY(180deg);
	  -ms-transform: perspective(600px) rotateY(180deg);

}

/* flip speed goes here */
.flipper {         
	-webkit-transition: 0.8s ease-out;        
	        transition: 0.8s ease-out;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%; /* half of height */
            transform-origin: 50% 50%; /* half of height */
  
    width: 100%;
	height: 100%;
	
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
  -webkit-transition: 0.8s ease-out;        
	        transition: 0.8s ease-out;
	position: absolute;
	top: 0;
	left: 0;
  
    width: 100%;
	height: 100%;
  
    outline: 1px solid transparent; 
	
	/* Prevent clicks in animated front/back divs because this can lead to clicks 
	not being detected http://stackoverflow.com/questions/15786891/browser-sometimes-ignores-a-jquery-click-event-during-a-css3-transform*/
	pointer-events: none;
	
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;

	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	-ms-transform: perspective(600px) rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
	-ms-transform: perspective(600px) rotateY(-180deg);
			
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom; 
}