#content_schrade ul li{
	margin-bottom: 2%;
}

.contentBox{
	line-height: 160%;
	list-style: none;
	padding: 6% 5% 6% 10%;
	width: 85% !important;
	height: 83% !important;
}

.contentBox ul { 
	margin: 0%;
}

.contentBox ul li { 
	margin-bottom: 3%;
	display:inline-block;
	width: 100%;
}

.contentBox ul li span { 
	font-size: 1.3em;
}

.listNone{
	list-style: none;
	margin: 0.5% 0 0.5% 0;
	padding-left: 0em;
    text-indent: 0em;
}

.listDash li{
   margin-left: -3.6%;
   text-indent: -1.1em;
}

.listDash li:before{
	content: '-\00a0\00a0\00a0';
}

.listDot li{
    margin-left: -3.6%;
    text-indent: -1.1em;
}

.listDot li:before{
	content: '... ';
}

#img_schrempf{
  background-image: url(../img/650/04-03.jpg);
  background-size: 100%;
}
#img_schrade{
  background-image: url(../img/650/04-01.jpg);
  background-size: 100%;
}
#img_becker{
  background-image: url(../img/650/04-02.jpg);
  background-size: 100%;
}