.mobileContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.mobileContainer .logo {
  max-width: 100%;
  margin-bottom: 30px;
}

body {
  overflow: auto !important;
}

.mobileContainer .contentContainer {
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.mobileContainer .contentContainer h1 {
  font-size: 1.5em;
  margin: 0;
}

.mobileContainer .contentContainer h2 {
  font-size: 0.9em;
  margin: 0 0 10px;
}

.mobileContainer .contentContainer p {
  font-size: 1.1em;
}

.mobileContainer .contentContainer .smallHeadline {
  font-size: 1.3em;
}

.mobileContainer .contentContainer .offsetLeft {
  padding-left: 50px;
}

.mobileContainer .contentContainer .paddingBottom {
  padding-bottom: 30px;
}

.mobileContainer .contentContainer a {
  text-decoration: underline;
}
