.imageBox{
	background-color: #5f3933;
}

#map{
	background-image: url(/img/map2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 5% 16%;
	width: 68% !important;
	height: 90% !important;
}

.reddots{
	width: 3% !important;
	padding-bottom: 3%;
	height: auto;
	background: red !important;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition:opacity 0.3s ease-out;
}

#attribute{
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: gray;
	font-size: 0.7em;
}

.contentBox{
	line-height: 140%;
	list-style: none;
	padding: 6% 5% 6% 10%;
	width: 85% !important;
	height: 83% !important;
}

.contentBox ul { 
	margin: 0%;
}

.contentBox ul:hover { 
	color: #bfbfbf;
}

.contentBox ul li { 
	margin-bottom: 1%;
	display:inline-block;
	width: 100%;
	transition: color 0.1s linear;
}

.contentBox ul li:hover { 
	color: white;
}

.contentBox ul li span { 
	font-size: 1.2em;
}

.listNone{
	list-style: none;
	margin: 0.5% 0 0.5% 0;
	padding-left: 0em;
	text-indent: 0em;
}
