#b3 {
	background-image: url(../img/300/06-08.jpg);
}
#b5 {
	background-image: url(../img/300/06-02.jpg);
}
#b8 {
	background-image: url(../img/300/06-06.jpg);
}
#c1 {
	background-image: url(../img/300/06-01.jpg);
}
#c4 {
	background-image: url(../img/300/06-05.jpg);
}
#c7 {
	background-image: url(../img/300/06-04.jpg);
}
#d2 {
	background-image: url(../img/300/06-07.jpg);
}
#d6 {
	background-image: url(../img/300/06-03.jpg);
}

.featherlight .featherlight-content {
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 10px 10px 0 !important;
	border-bottom: 10px solid transparent !important;
}

.featherlight-next {
    top: 10px !important;
    right: 10px !important;
}

.featherlight-previous {
	top: 10px !important;
    left: 10px !important;
}

.featherlight .featherlight-close-icon {
	font-size: 1.5em;
	background: #fff !important;
	width: 30px !important;
	line-height: 30px !important;
}

.featherlight-image {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 87vh;
}

@media only screen and (max-height: 800px) {
 .featherlight-image {
    max-height: 80vh;
}
}
/*
@media all { 
 .featherlight .featherlight-content {
  padding: 0;
  border: none;

  min-width: inherit;
 }

 .featherlight .featherlight-image {
    max-width: 100%;  
    border: 20px solid #fff;
 }
}

@media only screen and (max-width: 1024px) {
 .featherlight .featherlight-content {
  padding: 0;
  border: none;
 }
}*/