body, html{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  overflow: hidden;
  width: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a>div {
	cursor: pointer;
}

/*
 * Wrapper for the whole page
 */
@media only screen and (min-width: 768px) {
  #wrap{
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    min-width: 900px;
    max-width: 1800px;
    min-height: 350px;
    max-height: 100%;
    width: 85%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
  }
}

/*
 * The styles for different kind of tiles
 */
.tile{
  position: relative;
  width: calc(12.5% - 6px);
  padding-bottom: calc(12.5% - 6px);
  background-color: #5f3933;
  float: left;
  margin: 3px;
  color: #FFFFFF;
  background-size: 100% 100%;
}

.tileDoubleLogo{
  width: calc(25% - 6px);
  background-image: url(../img/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; 
  background-color: #ffffff;
  color:  #000000;
}

.tile3 {
  width: calc(37.5% - 6px);
  background-color: #ffffff;
  color:  #000000;
  padding-bottom: calc(12.5% - 6px);
}

.tile>div{
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile>div>div{
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.tile0{
  width: 0;
  margin: 0;
  display: none;
}

.tileTop{
  background-color: #ffffff;
  color:  #000000 !important;
  border: 0px solid black;
}

.tile2x2
{
  padding-bottom: calc(33.33% - 6px);
  width: calc(33.33% - 6px);
  font-weight: normal;
}

.tile2x2 > div {
  padding: 9% 7% 4.5% 7%;
  width: 86%;
  height: 50%;
}

.tile2x3
{
  padding-bottom: calc(150% - 6px);
  width: calc(100% - 6px);
  font-weight: normal;
}

.tile1x6
{
  padding-bottom: calc(16.66% - 6px);
  width: calc(100% - 6px);
  font-weight: normal;
}

.tile1x6 > div {
  padding: 1.8%;
  padding-left: 4%;
  width: 94.2%;
  height: 78.3%;
}

.tileFull
{
  padding-bottom: calc(37.5% - 6px);
  width: calc(100% - 6px);
  font-weight: normal;
  overflow: auto;
}

.tileFull > div {
  padding: 2%;
  width: 96%;
}

.tileFull > div {
  padding: 2%;
  width: 96%;
}

/*
 * The conatiners for the tiles (top row usually contains navigation,
 * all other rows contain content)
 */
#topRow, #contentRows {
  float: left;
  width: 100%;
}

/*
 * The style of the navigation tiles
 */
.tileNav:hover:not(.active) .tileNavInnerBottom{
  height: 30% !important;
}
 
.tileNavInnerTop{
  height: 40% !important;
  /* Chrome fix for white gap */
  margin-bottom: -1px;
  padding-bottom: 1px;
}

.tileNavInnerTop>div{
  position: static !important;
  line-height: 70%;
}

.tileNavInnerBottom{
  height: 0% !important;
  padding-top: 1px;
  top: 40%;
  transition: 0.3s ease-out;
  /*
   * Prevent clicks in animated front/back divs because this can lead to clicks
   * not being detected.
   * See: http://stackoverflow.com/questions/15786891/browser-sometimes-ignores-a-jquery-click-event-during-a-css3-transform
   */
  pointer-events: none;
}

.tileNav.active{
  background-color: transparent;
}

.tileNav.active .tileNavInnerBottom{
  height: 60% !important;
}

/*
 * The different styles of columns that are used to group the content
 */
.contentColumn {
  position: relative;
  float: left;
  height: 100%;
}

.contentColumn.contentColumn1 {
  width: 12.5%;
}

.contentColumn.contentColumn1>div {
  padding-bottom: calc(100% - 6px);
  width: calc(100% - 6px);
  font-weight: normal;
}

.contentColumn.contentColumn3 {
  width: 37.5%;
}

.contentColumn.contentColumn3>div {
  width: calc(100% - 6px);
  padding-bottom: calc(100% - 6px);
  font-weight: normal;
}

.contentColumn.contentColumn4 {
  width: 50%;
}

.contentColumn.contentColumn6 {
	width: 75%;
}

.contentColumn.contentColumn2 {
	width: 25%;
}

.contentColumn.contentColumn4>div {
  width: calc(100% - 6px);
  padding-bottom: calc(75% - 6px);
  font-weight: normal;
}

.contentColumn.contentColumnFull {
  width: 100%;
}

/*
 * The styles for the content text
 */
.contentBox h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3%;
}

.contentBox h2 {
  font-size: 1.5em;
  font-weight: normal;
}

.contentBox h3 {
  font-size: 1.3em;
  font-weight: normal;
}

.contentLarge {
  font-size: 1.2em;
}

.contentBox .bottomRight {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 15%;
  right: 2%;
}

.contentBox h1:first-child, .contentBox h2:first-child, .contentBox h3:first-child {
  margin-top: 0;
}

.contentBox h3.padded {
  padding-left: 20%;
}

.contentBox.centered {
	text-align: center;
}

.contentBoxImpressum h1 {
  padding-bottom: 0%;
  margin-bottom: -0.5%;
}

.contentBoxImpressum h2 {
  font-size: 1.4em;
}

.contentBoxImpressum h3 {
  font-size: 1.0em;
  padding-bottom: 2%;
  margin-top: 0;
}

.contentBoxImpressum.lower h1 {
	font-size: 1.6em;
	line-height: 150%;
  font-weight: normal;
}

.contentBox div{
  position: relative !important;
}

.contentBox.bottom {
	padding-top: 63.5%;
	padding-bottom: 9%;
	vertical-align: bottom;
	height: 27.5% !important;
}

/*
 * Tab switch styles
 */
.contentSwitch{
  cursor: pointer;
  color: #bfbfbf;
}

.contentSwitch span{
  position: absolute;
  font-weight: normal;
  font-size: 200%;
  line-height: 100%;
  text-align: right;
  top: 50%;
  transform: translate(0,-50%);
  width: 90%;
  right: 10%;
}

.contentSwitch.selected span{
  width: calc(89.5% - 6px);
  right: calc(10.5% + 6px);
}

.contentSwitch.selected{
  width: 101% !important;
  color: white;
}

.hidden{
  display: none;
}

/*
 * Some background colors
 */
.defaultColor{
  background-color: #5f3933 !important;
}
.light1{
  background-color: #b7b7b7 !important;
}
.light2{
  background-color: #B4A49E !important;
}
.color_atelier{
  background-color: #80769D !important;
}
.color_impressum{
  background-color: #5C5080 !important;
}
.color_referenzen{
  background-color: #773960 !important;
}
.color_leistungen{
  background-color: #6A4B7D !important;
}
.color_projekte{
  background-color: #92547B !important;
}
.color_werkstatt{
  background-color: #8A7099 !important;
}
.white{
  background-color: #FFFFFF !important;
}

.headings{
	position: absolute;
	z-index: 2;
}

#atelier{width: 100%;}
#gemeinschaft{top: 77%;width: 100%;}
#projekte{height: 25%;top: -0.7%;}
#leistungen{height: 25%;top: -0.7%;}
#referenzen{height: 25%;top: -0.7%;}
#werkstatt{height: 25%;top: -0.7%;}
#impressum{height: 25%;top: -0.7%;}
#kontakt{height: 25%;bottom: 0px;right: 0;}
